<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title :)
    link(rel="stylesheet", href="styles/bundle.css?t=" + new Date().getTime())
    script(src="scripts/vendors.js?t=" + new Date().getTime())
    script(src="scripts/bundle.js?t=" + new Date().getTime())
    title Document
  body
    #mainApp
      router-view
